@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic&display=swap');

* {
    background-color: #1DCC8D;
}

body {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

label.header {
    background-color: #F3ED70;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
  
    height: 30px;
    padding: 1rem;
    color: #343434;
    font-size: 25px;
    font-weight: 550;
    letter-spacing: 0.5em;
    display: flex;
    justify-content: center;
    align-items: center;
} 

.top-nav-title {
    display: inline;
    justify-content: center;
    align-items: center;
    font-family: 'Noto Sans KR', sans-serif;
}

.top-container {
    display: flex;
}

.main-top {
    padding-left: 28rem;
    width: 1000rem;
    justify-content: center;
    align-items: center;
}

.graph {
    margin-top: 100px;
}

.graph-img {
    width: 35rem;
    height: 20rempx;
    -webkit-box-shadow: 0px 1px 3px rgba(0,0,0,0.4);
    -moz-box-shadow: 0px 1px 3px rgba(0,0,0,0.4);
    box-shadow: 0px 2px 3px rgba(0,0,0,0.4);
}
.graph-info {
    margin-top: 0.2rem;
    font-family: 'Nanum Gothic', sans-serif;
    font-size: 11px;
    color: white;
}

.bottom-container {
    display: flex;
    height: 20rem;
    margin-top: 1.75rem;
    border: 2px solid pink;
}

.forecast-temperature {
    flex: 1;
    display: inline-block;
    font-family: "Noto Sans KR", sans-serif;
    border: 2px solid greenyellow;
}

.forecasting {
    font-size: 18px;
}

.March-2021 {
    margin-top: -0.5rem;
    font-size: 90px;
    width: max-content;
}

.temperature-contents {
    flex: 3;
    display: inline-block;
    border: 2px solid coral;
}

.underline {
    line-height: 1.2;
    font-size: 3em;
    font-weight: 700;
    background-image: linear-gradient(transparent calc(100% - 3px), #000 3px);
    background-repeat: no-repeat;
    background-size: 0% 100%;
    transition: background-size 0.8s;
    cursor: pointer;
  }

  @media (min-width: 1000px) {
    .underline {
      font-size: 5em;
    }
  }
  .underline.March-2021 {
    background-image: linear-gradient(transparent 60%, #F3ED70 40%);
  }
  .underline:hover {
    background-size: 100% 100%;
  }